<!DOCTYPE html>
<html>

<head>
    <title>HorrellChess</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <a routerLink="/" class="navbar-brand" href="/">Yermuv</a>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/games/new">Create Game</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/games/:id">Games</a>
            </li>
            <li class="nav-item">
        </ul>
        <ul class="navbar-nav">
            <% if user_signed_in? %>
            <li class="nav-item">
                <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'nav-link' %>
            </li>
            <% else %>
            <li class="nav-item">
                <%= link_to 'Sign in', new_user_session_path, class: 'nav-link' %>
            </li>
            <% end %>
        </ul>
    </nav>
    <% if notice.present? %>
    <p class="alert alert-info">
        <%= notice %>
    </p>
    <% end %>
    <% if alert.present? %>
    <p class="alert alert-danger">
        <%= alert %>
    </p>
    <% end %>
    <%= yield %>
</body>

</html>